@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900;ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Archivo", sans-serif;
$japaneseFont: "Poppins", sans-serif;
$inputLabelFont: "Poppins", sans-serif;
